*.o
*.lo
*.la
*.deb
.deps
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
cairo-5c.3
cairo-5c-*.tar.gz
cairo-5c_*.tar.gz
cairo-5c_*.build
cairo-5c_*.changes
cairo-5c_*.dsc
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
releases
cairo-5c-*.*
cairo-5c_*.*.upload
m4
test-driver
compile
